---
 **Seccion Nº1 : *Nociones básicas de Python***
--- 
---

 Se usara el caracter reservado "#" para definir que la linea sera de comentario y no va a ser interpretada por el compilador

**Tipos de variables:**



```
*int*       --> enteros

*float*     --> numero reales

*booleano*  --> variable binaria de verdadero o falso

*string*    --> cadena de texto

*char*      --> caracter alfanumerico
```

**Operadores Logicos:**

```
AND       --> condicion1 "y" condicion2
OR        --> condicion1 "o" condicion2
```

**Operadores de comparacion:**


```
<         --> valor1 "menor (<) que" valor2
>         --> valor1 "mayor (>) que" valor2
==        --> valor1 "igual (=) que" valor2 
!=        --> valor1 "distinto (!=) que" valor2
```                     
**operadores de asignacion:**



```
=         --> le asigno a variable1 el valor1 (variable1=valor1)
```



---

In [ ]:
#   casteo --> indica al compilador el tipo de dato
#   creacion de variables
a = str("hola 45 + 1.8")
b = int(6)
c = float(1.5)



---

In [ ]:
# uso de operadores de comparacion
print(b > 5)
print(b < 5)
print(b == 6)

True
False
True



---

In [ ]:
# uso de operadores logicos
print(b > 5 and b < 0)
print(b > 5 or b < 0)

False
True



---

In [ ]:
#ingreso de datos --> lo que se ingresa a los parentesis es un "PARAMETRO"
mensaje = "Ingrese un numero entero"
# los parametros de entrada van separados con ","
mensaje_entrada = 0
mensaje_entrada = int(input(mensaje))
print("valor ingresado + 5: " , (mensaje_entrada + 5))



---



---

---
 **Seccion Nº2 : *Uso de funciones Condicionales***
--- 
---

In [ ]:
# 1)if                    --> "si"
# 2)else                  --> "sino"
# 3)elif --> (else if)    --> "sino si"

In [ ]:
# sintaxis
# (funcion_Condicional)(condicion):
#     (
#       cuerpo  
#        )

a=int(input("Ingrese el primer valor:"))
b=int(input("Ingrese el segundo valor:"))
print()

#primer caso con uso de if y else
print("Se cumple que a es igual a b?")
if(a == b):
  print("Fue correcto")
  print("esta contemplado") 
else:
  print("Fue incorrecto") 
  print("esta contemplado")

print()

# segundo caso con uso de if, elif, else
if(a == b):
  print("'a' fue igual a 'b'")
elif(a < b):
  print("'a' fue menor a 'b'")
else:
  print("'a' fue mayor a 'b'")   

print()

#tercer caso con uso de if, elif, else y ademas and y or
if(a == b and a > 0):
  print("'a' es igual a 'b' y ademas es positivo")
elif(a == b and a < 0):
  print("'a' es igual a 'b' y ademas es negativo")  
else:
  print("los valores de a y b respectivamente son: a-->",a,", b-->",b)

---
 **Seccion Nº3 : *Bucle "While" y bucle "for"***
--- 
---

**Sintaxis de bucle "while":**



```
while(condicion):
  cuerpo
  cuerpo
  cuerpo
```

In [ ]:
rangoMax = 10
iterador = 0

while(iterador < rangoMax):
  print("El iterador vale: ",iterador)
  iterador = iterador + 1
print("Termino el while")

Termino el while

In [ ]:
bandera = bool(True)
control = 0
ejemplo = 0

while(bandera):
  control = control +1
  if(control > 10):
    bandera = bool(False)
    ejemplo = 1   
  print(ejemplo)
print(ejemplo)

Error frecuente:

- Uno de los errores mas comunes es crear un bucle infinito, este sucedera cuando la condicion del while nunca sea incorrecta, de este modo siempre nos quedaremos dentro de nuestro bucle infinito 

```
i = 0
j = 1
while(i < j):
  print("hay bucle infinito)
```
Esto producira un fallo inminente del programa

---
**Sintaxis de bucle "for":**



- variante 1 (uso de la funcion range,)
```
for (variable) in range(a,b):
   cuerpo
   cuerpo
   cuerpo
```
aqui el primer parametro (a) sera el inicio y (b-1) sera el fin


- variante 2(uso de listas)
```
listaColores = ["azul", "rojo", "verde"]
for (variable) in listaColores:
    print(variable)
```
aqui la variable tomara un color en cada iteracion


- variante 3(uso de tupla)
```
tuplaNombres = ('jose', 'gian', 'tulo', 'chon')
for(variable) in tuplaNombres:
    print(variable)
```
aqui la variable tomara un nombre en cada iteracion

In [ ]:
# variante 1:
print("previo")
for i in range(0,10):
  print("la variable i toma el valor: ",i)
print("posterior")

previo
la variable i toma el valor:  0
la variable i toma el valor:  1
la variable i toma el valor:  2
la variable i toma el valor:  3
la variable i toma el valor:  4
la variable i toma el valor:  5
la variable i toma el valor:  6
la variable i toma el valor:  7
la variable i toma el valor:  8
la variable i toma el valor:  9
posterior

In [ ]:
#variante 2:
listaColores = ["azul", "rojo", "verde"]
for color in listaColores:
  print("la variable color toma el valor: ",color)

la variable color toma el valor:  azul
la variable color toma el valor:  rojo
la variable color toma el valor:  verde
la variable color toma el valor:  rosa

In [ ]:
#variable 3:
tuplaNombres = ('jose', 'gian', 'tulo', 'chon')
for nombre in tuplaNombres:
  print("la variable nombre toma el valor: ", nombre)

la variable nombre toma el valor:  jose
la variable nombre toma el valor:  gian
la variable nombre toma el valor:  tulo
la variable nombre toma el valor:  chon